#!/bin/bash
echo '
# example of additional commands. I, for example, need Puppet.
apt-get install -y puppet
mkdir -p etc/puppet/
echo "[main]
logdir=/var/log/puppet
vardir=/var/lib/puppet
ssldir=/var/lib/puppet/ssl
rundir=/var/run/puppet
factpath=$vardir/lib/facter
templatedir=$confdir/templates
prerun_command=/etc/puppet/etckeeper-commit-pre
postrun_command=/etc/puppet/etckeeper-commit-post
server=puppet.corp.flatturtle.com
" > etc/puppet/puppet.conf
' > fourth-stage
# Change and add anything you need. Do not add a / at the beginning of the path. See the example above.

chmod +x fourth-stage
LANG=C chroot $rootfs /fourth-stage

# EOF
